{% extends "invoice/base/base.html" %}
<!-- Content Row -->
{% block content %}
<div class="row">
    <style>

        body {
            font-family: 'Arial', sans-serif;

        }

        h1 {
            color: #333;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: center;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }
        .pro-yes {
            color: #00cc00; /* Bright green color */
<!--            display: flex;-->
            align-items: center;
            justify-content: center;
            padding-right: 5px;
            margin: 45px;
        }

    </style>
</head>

<body>
    <h1>Subscribed Clients</h1>
    <table>
        <tr>
            <th>Client</th>
            <th>Subscription  Status</th>
            <th>Subscription  Expiry Date</th>
            <th>Subscription Type</th>
        </tr>
        {% for profile in profiles %}
            <tr>
                <td>{{ profile.user.username }}</td>
                <td>
                    {% if profile.is_pro %}
                    Active <span class="pro-yes">&#10003;</span>
                    {% else %}
                        Null
                    {% endif %}
                </td>
                <td>{{ profile.pro_expiry_date }}</td>
                <td>{{ profile.subscription_type }}</td>
            </tr>
        {% endfor %}
    </table>
</body>

</div>
 <br>
<br>
<br>
<br>

  <a href='{% url "adin" %}' class="btn btn-primary">Back to dashboard</a>
{% endblock %}